
@{
    ViewData["Title"] = "Rendicion por Revisar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    <link href="~/assets/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/css/rendicion.css")" rel="stylesheet" />
}

<div id="div_table">

</div>

<div class="modal fade" id="mSustentosCaja" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModalSustentosCaja"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col">
                            <div class="progress" style="height:30px !important">
                                <div id="div_subTitle" class="progress-bar fs-16px fw-bold" style="width: 100%; background-color: grey !important;">FLUJO DE CAJA ("CHICA")</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <input type="hidden" id="txtIdRendicionSC" />
                        <input type="hidden" id="txtCodigoRendicionSC" />
                        <div class="col-8">
                            <div class="row">
                                <label class="form-label col-md-3 pt-2">Empresa</label>
                                <div class="col-md-9">
                                    <input id="txtEmpresa" type="text" class="form-control label-popup" readonly placeholder="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <label class="form-label col-md-3 pt-2">Reporte N°</label>
                                <div class="col-md-9">
                                    <input id="txtNroReporte" type="text" class="form-control label-popup" readonly placeholder="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-8">
                            <div class="row">
                                <label class="form-label col-md-3 pt-2">RUC</label>
                                <div class="col-md-9">
                                    <input id="txtRuc" type="text" class="form-control label-popup" readonly placeholder="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <label class="form-label col-md-3 pt-2">Área</label>
                                <div class="col-md-9">
                                    <input id="txtArea" type="text" class="form-control label-popup" placeholder="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-8">
                            <div class="row">
                                <label class="form-label col-md-3 pt-2">Trabajador Responsable</label>
                                <div class="col-md-9">
                                    <input id="txtTrabajador" type="text" class="form-control label-popup" readonly placeholder="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <label class="form-label col-md-3 pt-2">Jefe de Área</label>
                                <div class="col-md-9">
                                    <input id="txtJefeArea" type="text" class="form-control label-popup" placeholder="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-8">
                            <div class="row">
                                <label class="form-label col-md-3 pt-2">Motivo</label>
                                <div class="col-md-9">
                                    <input id="txtMotivo" type="text" class="form-control label-popup" readonly placeholder="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div id="div_txtPeriodo" class="row">
                                <label class="form-label col-md-3 pt-2">Periodo</label>
                                <div class="col-md-9">
                                    <input id="txtPeriodo" type="text" class="form-control label-popup" readonly placeholder="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-8">
                            <div class="row">
                                <label class="form-label col-md-3 pt-2">Fecha</label>
                                <div class="col-md-9">
                                    <input id="txtFecha" type="text" class="form-control label-popup" readonly placeholder="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1 mt-4">
                        <div class="col-3">
                            <label class="form-label col-md-3 pt-2">Resumen</label>
                            <div id="div_table_sumSC">

                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row mb-3">
                        <div id="div_tableSC">

                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="txtObservacion" class="form-label">Observación</label>
                                <textarea class="form-control" id="txtObservacion" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <label class="form-label">Para cargar captura de pantalla solo presiona CTRL+V</label>
                            </div>
                            <canvas style="border:1px solid grey; width:100% !important; height:100px;" id="my_canvas"></canvas>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button id="btnRechazar" type="button" class="btn btn-danger">Observar</button>
                <button id="btnAprobar" type="button" class="btn btn-green">Enviar a Tesorería</button>
                <button id="btnFinalizar" type="button" class="btn btn-primary">Finalizar</button>

            </div>
        </div>
    </div>
</div>


<div id="spinner_loading" class="loading" style="display:none;">Loading</div>

@section Scripts
{
    <script src="~/assets/plugins/switchery/dist/switchery.min.js"></script>
    <script>
        var url_ListRendiciones = "@Url.Content("~/")" + "Rendicion/ListRendiciones";
        var url_GetRendicion = "@Url.Content("~/")" + "Rendicion/GetRendicion";
        var url_InsertRendicion = "@Url.Content("~/")" + "Rendicion/InsertRendicion";
        var url_UpdateEstadoRendicion = "@Url.Content("~/")" + "Rendicion/UpdateEstadoRendicion";
        var url_UpdateAreaRendicion = "@Url.Content("~/")" + "Rendicion/UpdateAreaRendicion";
        var url_ListCajasCombo = "@Url.Content("~/")" + "Box/ListCajasCombo";
        var url_GetRequisiciones = "@Url.Content("~/")" + "Rendicion/GetRequisiciones";
        var url_DeleteRendicion = "@Url.Content("~/")" + "Rendicion/DeleteRendicion";
        var url_ConsultaRuc = "@Url.Content("~/")" + "Rendicion/ConsultaRuc";
        var url_ListSustentos = "@Url.Content("~/")" + "Rendicion/ListSustentos";
        var url_ListSustentoById = "@Url.Content("~/")" + "Rendicion/ListSustentoById";
        var url_InsertSustento = "@Url.Content("~/")" + "Rendicion/InsertSustento";
        var url_DeleteSustento = "@Url.Content("~/")" + "Rendicion/DeleteSustento";
        var url_VerPDFFactura = "@Url.Content("~/")" + "Rendicion/VerPDFFactura";
        var url_GetVouchers = "@Url.Content("~/")" + "Rendicion/GetVouchers";
        var url_GetFileVoucher = "@Url.Content("~/")" + "Rendicion/GetFileVoucher";
        var url_GetCorreoContadores = "@Url.Content("~/")" + "Rendicion/GetCorreoContadores";
        var url_SendMail = "@Url.Content("~/")" + "Rendicion/SendMail";
        var url_UpdateEstadoRendicion = "@Url.Content("~/")" + "Rendicion/UpdateEstadoRendicion";
    </script>
    <script src="@Url.Content("~/Scripts/contabilidad.js")"></script>
}